<h1>Lego Notebook</h1>

<p>Read colors csv</p>

In [25]:
import pandas as pd

COLORS_FILE = 'data/colors.csv'

df = pd.read_csv(COLORS_FILE)
df.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [26]:
df['rgb'].nunique()

124

In [27]:
opaque_df = df.loc[df['is_trans']=='f']
opaque_df.shape

(107, 4)

In [30]:
trans_df = df.loc[df.is_trans == 't']
trans_df.shape

(28, 4)

In [31]:
df.is_trans.value_counts()

f    107
t     28
Name: is_trans, dtype: int64

In [33]:
df.groupby(df.is_trans).count()

           id  name  rgb
is_trans
f         107   107  107
t          28    28   28

### Understanding Lego Sets vs. Themes
<img src="https://i.imgur.com/aKcwkSx.png">